@import url('../css/fonts.css');
:root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    --purple: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);

    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
}
.container{
    scroll-snap-type: y mandatory;
}
.seperator{
    height: 2rem;
}


/* Navbar Styling Start */

.nav-item .nav-link {
    font-family: var(--Lexend);
    color: white !important;
    font-size: 1rem;
}
.nav-item .nav-link:hover{
    color: #222944 !important;
    transition: ease 0.5s;
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
}
.navbar-light {
    color: white;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
}
.navbar.sticky{
    color: white !important;
    background: #3d5972;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
}
.navbar.sticky .nav-item .nav-link{
    color: white;
}
.navbar-toggler{
    color: white !important;
}

/* Navbar Styling End */

/* Welcome Page Styling Start */
html,
body,
header,
#intro {
    height: 100%;
}
#intro {
    background: url('../assets/img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.mask {
    background: linear-gradient(
            45deg,
            rgba(22, 223, 197, 0.5),
            rgba(63, 11, 210, 0.5) 100%
    );
}
#intro .mask .container .text-white .mb-3 span{
    color:  #222944;
}
#welcome{
    font-family: var(--Anton);
    width: 50rem;
}
#welcome::before{
    content: "";
    height: 2px;
    width: 8vw;
    background: #222944;
    display: inline-block;
    margin-right: 2%;
    transform: translateY(-10px);
}
#welcome::after{
    content: "";
    height: 2px;
    width: 8vw;
    background: #222944;
    display: inline-block;
    margin-left: 2%;
    transform: translateY(-10px);
}
#toggler:hover{
    color: #222944 !important;
    transition: ease 0.5s;
}
.fab:hover{
    color: #222944 !important;
    transition: ease 0.3s;
}
/* Welcome Page Styling End */

/* About Section Styling Start */
#about{
    background: url("../assets/img/Abract01.png") no-repeat right;
    padding-top: 5rem;
}
#profilePic{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    -o-box-shadow: 3px 3px 5px 6px #ccc;
}
#aboutTitle {
    font-family: var(--Lexend);
    font-weight: 500;
}
#about .aboutContent{
    font-family: var(--Livvic);
}
#about .aboutContent strong{
    color: crimson;
}
#about .aboutContent a{
    color: crimson;
}
/* About Section Styling End */

/* Education Section Styling Start */
#education{
    padding-top: 4rem;
    scroll-snap-align: start;
}
#educationTitle {
    font-family: var(--Lexend);
    font-weight: 500;
}
#educationPic{
    padding: .7rem;
    width: 25rem;
    height: 25rem;
}
#education .edu-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
}
#education .card{
    background: linear-gradient(
            45deg,
            rgba(22, 223, 197, 0.5),
            rgba(63, 11, 210, 0.5) 100%
    );
    border-radius: 40px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    width: 17rem;
    height: 14rem;
    margin-bottom: .7rem;
}
#education .card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
#education .card .card-title{
    font-family: var(--Lexend);
    font-weight: 50;
}
#education .card .card-header{
    font-family: var(--Livvic);
}
#education .card .card-footer{
    font-family: var(--Livvic);
}
#education .container .owl-nav{
    position: absolute;
    bottom: 0;
    margin: 10px;
    width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
    color: var(--text-gray);
    background: transparent;
    font-size: 1rem;
}

.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color: var(--midnight);
}

.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}

/* Education Section Styling End */

/* Education Section Styling Start */
#experience .bg-image{
    height: 45rem;
    background: linear-gradient(
            45deg,
            rgba(22, 223, 197, 0.5),
            rgba(63, 11, 210, 0.5) 100%
    );
    clip-path: polygon(50% 10%, 100% 0, 50% 17%, 0 0);
    position: relative;
}
#experience{
    height: 100vh;
}
#experienceTitle{
    margin-top:-35rem;
    margin-bottom:-35rem;
}
#experiencePic{
    margin-top: -35rem;
    padding: .7rem;
    width: 38rem;
    height: 38rem;
}
#experienceList{
    margin-top:-35rem;
    list-style: none;
}
#experienceList ul li span{
    horiz-align: center;
    color: #222944;
    padding-bottom: 0.6rem;
    padding-left: 1.2rem;
}
#experienceList .experience-logo{
    text-align: center;
    width: 40px;
    height: 48px;
    line-height: 1.5;
    font-size: 2rem;
}


/* Education Section Styling End */




/* Button Hover Styling Start */
.btn.btn-outline-light.btn-rounded {
    font-family: var(--Lexend);
    box-shadow: inset 0 0 0 0 #222944;
}
.btn.btn-outline-dark.btn-rounded {
    font-family: var(--Lexend);
    background: var(--sky);
    border: none;
    box-shadow: inset 0 0 0 0 #222944;
}
.btn.btn-outline-light.btn-rounded:hover{
    box-shadow: inset 200px 0 0 0 #222944;
}
.btn.btn-outline-dark.btn-rounded:hover{
    color: white;
    box-shadow: inset 160px 0 0 0 #222944;
}
/* Button Hover Styling End */

/* Media Queries Start */

@media (max-width: 993px) {
    #logo{
        display: none;
    }
}
@media (max-width: 1024px) {
    #about{
    }
}

/* Media Queries End */


