/* Header Styling Start */
.nav-item .nav-link {
    color: white !important;
    font-size: large;
}
.nav-item .nav-link:hover{
    color: #222944 !important;
    transition: ease 0.5s;
}
#welcome{
    width: 50rem;
}
#welcome::before{
    content: "";
    height: 2px;
    width: 8vw;
    background: #222944;
    display: inline-block;
    margin-right: 2%;
    transform: translateY(-10px);
}
#welcome::after{
    content: "";
    height: 2px;
    width: 8vw;
    background: #222944;
    display: inline-block;
    margin-left: 2%;
    transform: translateY(-10px);
}
#toggler:hover{
    color: #222944 !important;
    transition: ease 0.5s;
}
.fab:hover{
    color: #222944 !important;
    transition: ease 0.3s;
}
.navbar-light {
    color: white;
}
.navbar.sticky{
    color: white !important;
    background: #3d5972;
    transition: 0.8s;
}
.navbar.sticky .nav-item .nav-link{
    color: white;
}
.navbar-toggler{
    color: white !important;
}
@media (max-width: 993px) {
    #logo{
        display: none;
    }
}
html,
body,
header,
#intro {
    height: 100%;
}
#intro {
    background: url('../img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.mask {
    background: linear-gradient(
            45deg,
            rgba(22, 223, 197, 0.5),
            rgba(63, 11, 210, 0.5) 100%
    );
}
#intro .mask .container .text-white .mb-3 span{
    color:  #222944;
}
/* Header Styling End */

/* Button Hover Styling Start */
.btn.btn-outline-light.btn-rounded {
    box-shadow: inset 0 0 0 0 #222944;
}
.btn.btn-outline-light.btn-rounded:hover{
    box-shadow: inset 160px 0 0 0 #222944;
}
.btn.btn-outline-dark.btn-rounded:hover{
    color: white;
    box-shadow: inset 160px 0 0 0 #222944;
}
/* Button Hover Styling End */


